html,
body {
    margin: 0;
    padding: 0;
    /* opcional, zera o espaçamento interno também */
    background-color: #161C23;
    /*  se quiser que o fundo inteiro fique escuro */
    box-sizing: border-box;
}